html, body {
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 0.875rem;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Barlow Condensed", sans-serif;
}

/*
 * Sidebar customizations
 */
@media (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: 46px;
    height: calc(100vh - 46px);
  }
  .sidebar .offcanvas-md {
    height: 100%;
  }
  .sidebar .offcanvas-md .offcanvas-body {
    height: 100%;
  }
}
.sidebar-heading {
  font-size: 0.75rem;
}

.sidebar {
  background-color: #FF941F;
}
.sidebar .offcanvas-body {
  background-color: #FF941F;
}
.sidebar .nav-item i {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
  color: black;
}
.sidebar .nav-link {
  font-size: 0.875rem;
  font-weight: 500;
  color: black;
}
.sidebar .nav-link svg {
  min-width: 1.5em;
  width: 1.5em;
  fill: black;
}
.sidebar .nav-link.active {
  background-color: #FFBF00;
}

/*
 * Navbar customizations
 */
.navbar {
  background-color: #FF941F;
}

/*
 * Forms
 */
.alert ul {
  margin-bottom: 0;
}

div.validation-summary-valid {
  display: none;
}

.form-control.input-validation-error {
  border-color: #dc3545;
}

.field-validation-error {
  color: #dc3545;
}

.form-check-input {
  --bs-border-color: #adb5bd;
}

.toast-container {
  position: fixed;
  z-index: -1;
  padding: 1rem;
  top: 52px;
  left: 25%;
  width: 75%;
  display: flex;
  justify-content: center;
}
.toast-container .toast-alert {
  color: black;
  background-color: #FFBF00;
  display: flex;
  justify-content: center;
}

.form-group {
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.form-group textarea.form-control {
  padding: 0;
  border: 0;
}
.form-group input.form-control {
  padding: 0;
  border: 0;
}

.input-group > .form-check-inline > input[type=checkbox] {
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}
.input-group > .form-check-inline > label {
  margin-bottom: auto;
  margin-top: auto;
}

.input-group-sm > .input-group-text {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.custom-file-label {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.border-form-control {
  border-color: #ced4da !important;
}

.form-control-dark {
  color: white;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px white;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #29ABE3;
  border-color: #29ABE3;
}

/*
    Misc
*/
#loader {
  position: fixed;
  left: 1px;
  top: 1px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  color: #FF941F;
  background: url("../images/circles.svg") 50% 50% no-repeat transparent;
}

.card-body dl {
  margin-bottom: 0;
}

dl dd p:last-child, .alert p:last-child {
  margin-bottom: 0;
}

.markdown {
  font: inherit;
}

.overflow-ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.modal-light .modal-header {
  border-bottom-color: #2E2F2F;
}
.modal-light .modal-content {
  background-color: #FFBF00;
  border-color: #FFBF00;
}
.modal-light .modal-content .modal-body .table {
  border-color: #919496;
}
.modal-light .modal-content .modal-body .table thead th, .modal-light .modal-content .modal-body .table thead td {
  border-top-width: 0;
}
.modal-light .modal-content .modal-body .table th, .modal-light .modal-content .modal-body .table td {
  border-color: #919496;
}
.modal-light .modal-content .modal-body a {
  color: #000072;
}
.modal-light * .list-group-item {
  background-color: #FFBF00;
  border-color: #919496;
}

.text-size-x-small {
  font-size: 60%;
}

.text-size-small {
  font-size: 80%;
}

.text-size-large {
  font-size: 125%;
}

/* Mimic list-group-flush */
.table-flush th, .table-flush td, .table-flush thead th, .table-flush tbody + tbody {
  border-width: 0;
}
.table-flush tr {
  border-bottom: 1px solid #919496;
}
.table-flush tr:last-child {
  border-width: 0;
}

.btn-link {
  color: #FFBF00;
  text-decoration: none;
}

.btn-link:hover {
  color: #FF941F;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #D9D9DB;
  pointer-events: none;
}

.card-border-color {
  border-color: black;
  border-color: rgba(0, 0, 0, 0.125);
}

.card-header > div.custom-switch {
  margin-right: 0 !important;
}

h5.section-title, h6.section-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.bg-light {
  background-color: #D9D9DB !important;
}

/* Misc */
.rounded-bottom-only {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.min-w-0 {
  min-width: 0;
}

.fill-white {
  fill: white;
}

.card-header-icon > svg {
  max-width: 2em;
  min-width: 2em;
  fill: #212529;
  margin-right: 0.5rem;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.flex-basis-33 {
  flex-basis: 33.3333333333% !important;
}

.flex-basis-50 {
  flex-basis: 50% !important;
}

/* Bootstrap collapse styles */
.collapsed > i.collapsed {
  display: block;
}

.collapsed > i.expanded {
  display: none;
}

:not(.collapsed) > i.collapsed {
  display: none;
}

:not(.collapsed) > i.expanded {
  display: block;
}

.client-logo img, .card-title img {
  max-height: 2em;
}

img.badge-image {
  max-height: 100%;
  max-width: 100%;
}

/* Line item labels in teacher editor */
div.line-item-label {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

div.line-item-label > div {
  white-space: nowrap;
}

@media (min-width: 576px) {
  div.line-item-label {
    margin-right: 0.5rem;
    position: relative;
    min-width: 2rem;
  }
  div.line-item-label > div {
    transform-origin: bottom left;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0.5rem;
    left: calc(1.5rem + 2px);
  }
}
/* When a tooltip is html, set max-width to 100% */
.tooltip-html {
  max-width: 100% !important;
}

.tooltip-themed .arrow::before {
  border-top-color: #FFBF00;
}
.tooltip-themed .tooltip-inner {
  color: black;
  background-color: #FFBF00;
}

/* Dashboard Cards */
.card-topper {
  min-height: 9ch;
  max-height: 9ch;
}
.card-topper svg {
  min-width: 3em;
  width: 3em;
  fill: black;
  margin: 0.5rem;
}
.card-topper .btn {
  color: black;
  background-color: #FFBF00;
  border-color: #FFBF00;
}
.card-topper .btn:hover {
  color: white;
  background-color: #FF941F;
  border-color: #FF941F;
}
.card-topper .btn:hover svg {
  fill: white;
}
.card-topper .btn:focus, .card-topper .btn.focus {
  color: white;
  background-color: #FF941F;
  border-color: #FF941F;
  box-shadow: 0 0 0 0.2rem #52585d;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

/* Small */
@media (min-width: 576px) {
  .flex-md-wrap-2 {
    flex-basis: 100% !important;
  }
  .card-topper {
    min-height: 12ch !important;
    max-height: 12ch !important;
  }
}
/* Medium */
@media (min-width: 768px) {
  .flex-md-wrap-2 {
    flex-basis: 50% !important;
  }
  .card-topper {
    min-height: 12ch !important;
    max-height: 12ch !important;
  }
}
/* Large */
@media (min-width: 992px) {
  .flex-md-wrap-2 {
    flex-basis: 0 !important;
  }
  .card-topper {
    min-height: 12ch !important;
    max-height: 12ch !important;
  }
}
/* x-large */
@media (min-width: 1200px) {
  .card-topper {
    min-height: 10ch !important;
    max-height: 10ch !important;
  }
}
